.contactContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  color: #1d1e20;
  gap: 48px;

  .contact {
    display: grid;
    grid-template-columns: 15% 85%;
    color: #1d1e20;
    border-right: thin solid #ffffff50;
    gap: 8px;
    padding-inline: 40px;
    align-items: center;
  }

  .contact:last-child {
    border-right: 0px;
  }
}

@media (max-width: 1024px) {
  .contactContainer {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .contact {
    border-right: 0px !important;
  }
}
