.embla {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
}

.embla__slide:hover .embla__slide-overlay {
  opacity: 1;
}

.embla__slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 36px;
}

.embla__slide-overlay-text {
  text-align: center;
}

.embla__slide {
  position: relative;
  min-width: 100%;
}

.embla__slide__img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.embla__button {
  position: absolute;
  bottom: 2%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
              0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: box-shadow 0.3s ease; 
}

.embla__button--project {
  left: 30px;
}

.embla__button--prev {
  right: 80px;
}

.embla__button--next {
  right: 30px;
}

/* Tablet styles */
@media (max-width: 768px) {
  .embla__slide__img {
    display: block;
    width: 100%;
    height: 300px;
  }
}
