.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background: 
    url("../../../public/img/aaa.jpg");
    background-position: 50%;
  background-size: cover;

  h2 {
    color: #ffffff;
    font-size: 30px;
  }
}

.container {
  margin: 150px auto;
  padding-inline: 56px;
  display: flex;
  flex-direction: column;

  .project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1024px) {
  .container {
    margin: 50px auto !important;
    padding-inline: 24px !important;
  }

  .project {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
