body {
  display: block;
  width: 100%;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  background-image: url("../public/img/bg.png");
  background-repeat: repeat-y;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}